
.box__text_fontsize {
  text-align: center;
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
  .box__text_fontsize {
    font-size: 36px;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .box__text_fontsize {
    font-size: 30px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .box__text_fontsize {
    font-size: 26px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .box__text_fontsize {
    font-size: 20px;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .box__text_fontsize {
    font-size: 16px;
  }
}

/* Iphone 5 */
@media (max-width: 320px) {
  .box__text_fontsize {
    font-size: 12px;
  }
}
